:root {
  --accent-h: 0;
  --accent-s: 81%;
  --accent-l: 60%;
  --white: 255, 255, 255;
  --white-dim: 20, 20, 20;
  --black: 0, 0, 0;

  --accent-s-code: calc(var(--accent-s) * 0.45);
  --accent-h-blue: 220deg;
  --accent-h-green: 120deg;
  --accent-h-yellow: 60deg;
}

body {
  font-family: monospace;
  padding: 0;
  margin: 0;
  text-align: justify;
  background: rgb(var(--black));
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--white));
  font-size: 16px;
  line-height: 1.2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem 0;
  color: rgb(var(--white));
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: inherit;
}

a:hover {
  color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 1.5em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

th,
td {
  padding: 0.3em 0.3em;
  border: 1px solid rgba(var(--white), 0.15);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

li {
  margin-bottom: 0.6em;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--white-dim));
  border-radius: 4px;
  color: hsl(var(--accent-h), var(--accent-s-code), var(--accent-l));
}

.code-blue {
  color: hsl(var(--accent-h-blue), var(--accent-s-code), var(--accent-l));
}

.code-green {
  color: hsl(var(--accent-h-green), var(--accent-s-code), var(--accent-l));
}

.code-yellow {
  color: hsl(var(--accent-h-yellow), var(--accent-s-code), var(--accent-l));
}

pre {
  padding: 1.0em;
  border-radius: 8px;
  background-color: rgb(var(--white-dim)) !important;
  border: 2px solid rgb(var(--white-dim)) !important;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  padding: 0 0 0 20px;
  margin: 0px;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--white));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white), 0.15);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--white), 0.25);
}

.MathJax {
  overflow-x: auto;
}

.MathJax svg {
  font-size: 1.2em;
}

::selection {
  background-color: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) * 0.7));
  color: rgb(var(--white));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
