---
const dummyCid = `Qm${"0".repeat(44)}/`;

interface Props {
  relativePath: string;
}

const { relativePath } = Astro.props;
---

<style>
  footer {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    text-align: center;
  }
  @media screen and (max-width: 720px) {
    footer {
      font-size: 0.8em;
    }
  }
</style>
<footer>
  <div
    style={{
      display: "flex",
      gap: "0.5em",
    }}
  >
    <a href="https://ndavd.eth.limo">ndavd.eth.limo</a>
    <div>
      (These thoughts are <a href="https://github.com/ndavd/blog">open-source</a
      >🖋️)
    </div>
    <a href={`${relativePath}/feed.xml`}>RSS</a>
  </div>
  <code id="cid-container">
    <a>{dummyCid}</a>
  </code>
</footer>
<script is:inline>
  const main = async () => {
    try {
      const cidContainer = document.getElementById("cid-container");
      if (!cidContainer) return;
      const response = await fetch(
        "https://raw.githubusercontent.com/ndavd/blog/refs/heads/main/cid.txt",
        { cache: "no-store" },
      );
      const cid = await response.text();
      const cidLink = cidContainer.children[0];
      cidLink.href = `ipfs://${cid}/`;
      cidLink.textContent = `${cid}/`;
    } catch (e) {
      console.error(e);
    }
  };
  main();
</script>
