---
import { SITE_TITLE } from "../consts";

interface Props {
  relativePath: string;
}

const { relativePath } = Astro.props;
---

<header>
  <nav>
    <h1>
      <a href={relativePath}>{SITE_TITLE}</a>
    </h1>
  </nav>
</header>
<style>
  nav {
    padding-top: 1em;
  }
  img {
    border-radius: 0.2em;
    width: 2em;
    height: 2em;
  }
  h1 {
    margin: 0;
    font-size: 2em;
  }
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
</style>
