---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Background from "../components/background/Background";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin-bottom: 0.5em;
      }
      .date {
        margin-bottom: 2em;
        font-size: 0.9em;
        text-decoration: overline;
      }
    </style>
  </head>

  <body>
    <main>
      <Header />
      <article>
        <div class="title">
          <hr />
          <h1>{title}</h1>
          <div class="date">
            <FormattedDate date={pubDate} />
          </div>
          <hr />
        </div>
        <slot />
      </article>
    </main>
    <Background client:only />
  </body>
</html>
